.SizeToggle {
  display: flex;
  align-items: center;
}

.SizeToggleImg {
  font-size: 35px;
  color: #bbb;
  margin-right: 10px;
}

.BtnBlock {
  border: 3px solid #bbb;
}

.SizeCurrent {
  width: 70px;
  height: 76px;
  font-size: 1.5em;
  color: #bbb;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #bbb;
  border-right: none;
  background-color: #4b4949;
}

.Btn {
  display: block;
  width: 70px;
  height: 35px;
  background-color: #313131;
  font-size: 1em;
  color: #bbb;
  border: none;
}

.Btn:nth-child(1) {
  border-bottom: 3px solid #bbb;
}
