.ToolsBar {
  padding: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, auto);
}

.Tool {
  display: block;
  width: 50px;
  height: 50px;
  background-color: inherit;
  background-position: center;
  background-size: 30px;
  background-repeat: no-repeat;
  border: none;
  padding: 20px;
}

.Tool::-webkit-color-swatch-wrapper {
  display: none;
}

.Tool.active {
  background-color: #313131;
}
