.PreviewAnimationSpace {
  width: 200px;
  min-height: 150px;
  background-color: rgba(51, 50, 50, 0.2);
  padding: 20px 0;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

.Row {
  display: flex;
}

.PlayButton {
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 2px;
  background-color: transparent;
  display: block;
  cursor: pointer;
  margin: 0 auto 10px auto;
}
